<div class="card-product-link">
  <div class="card-product-image">
    <m-skeleton class="image" />
  </div>

  <div class="card-product-content">
    <div class="card-product-tags">
      <m-skeleton class="tag" />
      <m-skeleton class="tag" />
      <m-skeleton class="tag" />
    </div>

    <div class="card-product-title-block">
      <m-skeleton class="title" />
      <m-skeleton class="title title-short" />
    </div>

    <m-skeleton class="cashback" />

    <div class="card-product-footer">
      <div class="card-product-prices">
        <m-skeleton class="old-price" />
        <m-skeleton class="price" />
      </div>
      <m-skeleton class="cart-btn" />
    </div>
  </div>
</div>
