<div class="skeleton-wrap">
  <div class="skeleton-image">
    <m-skeleton class="skeleton-img" />
  </div>

  <div class="skeleton-body">
    <m-skeleton class="skeleton-name-1" />
    <m-skeleton class="skeleton-name-2" />

    <div class="skeleton-tags">
      <m-skeleton class="skeleton-tag" />
      <m-skeleton class="skeleton-tag" />
      <m-skeleton class="skeleton-tag" />
    </div>

    <div class="skeleton-footer">
      <m-skeleton class="skeleton-price" />
      <m-skeleton class="skeleton-btn" />
    </div>
  </div>
</div>
